/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f7f7f7;
  color: #333;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Header */
.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 2.5rem;
  color: #004f99;
}

.header p {
  font-size: 1.1rem;
  margin-top: 10px;
}

#searchInput {
  width: 100%;
  max-width: 600px;
  padding: 10px;
  margin-top: 20px;
  font-size: 1.1rem;
  border: 2px solid #004f99;
  border-radius: 5px;
  outline: none;
}

#searchInput:focus {
  border-color: #00aaff;
}

/* Image Results */
.results-container {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5px;
  margin-top: 20px;
  width: 100%;
  max-width: 1200px;
}

.results-container > * {
  max-width: 300px;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: auto;
}

.card .details {
  padding: 15px;
  text-align: center;
}

.card .details h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #004f99;
}

.card .details p {
  font-size: 1rem;
  color: #555;
}

/* Pagination */
.pagination {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination button {
  background-color: #004f99;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  margin: 0 10px;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
  background-color: #00aaff;
}

.pagination #pageNumber {
  font-size: 1.2rem;
  color: #333;
}

/* Footer */
.footer {
  margin-top: 40px;
  text-align: center;
  font-size: 0.9rem;
  color: #777;
}
